In [ ]:
def characterConverter():
  lista = []
  for i in str(input()):
    if i == 'z':
      lista.append('a')
    elif i == 'Z':
      lista.append('A')
    else:
      lista.append(chr(ord(i)+1))
  print(lista)
characterConverter()

aziz
['b', 'a', 'j', 'a']

In [ ]:
import datatable as dt

In [ ]:
# import numpy as np
# data_30_days_random = np.random.randint(10,50,30)
# days = [j for j in range(30)]
# data_30_days_random = [i for i in data_30_days_random]
# combined = list(enumerate(data_30_days_random))


# df = pd.DataFrame(combined, columns=["day", "random_value"])
# X = df.iloc[:,0]
# y = df.iloc[:,1]

# from sklearn.model_selection import train_test_split as tts
# X_train, X_test, y_train, y_test = tts(X, y, test_size=.2)

from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit([X_train], [y_train])
prediction = model.predict([y_test])

ValueError: ignored

In [ ]:
import numpy as np
np.random.randint(10,50,5)
years = np.linspace(2021,2031,11)
sales = np.random.randint(1,10,10)
randomsales = [(years[i],sales[i]) for i in range(10)]
randomsales

[(2021.0, 5),
 (2022.0, 7),
 (2023.0, 8),
 (2024.0, 6),
 (2025.0, 5),
 (2026.0, 2),
 (2027.0, 8),
 (2028.0, 1),
 (2029.0, 9),
 (2030.0, 2)]

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

file = pd.read_excel('Sample - Superstore.xls')
file.head()

   Row ID        Order ID Order Date  ... Quantity Discount    Profit
0       1  CA-2016-152156 2016-11-08  ...        2     0.00   41.9136
1       2  CA-2016-152156 2016-11-08  ...        3     0.00  219.5820
2       3  CA-2016-138688 2016-06-12  ...        2     0.00    6.8714
3       4  US-2015-108966 2015-10-11  ...        5     0.45 -383.0310
4       5  US-2015-108966 2015-10-11  ...        2     0.20    2.5164

[5 rows x 21 columns]

In [ ]:
file.describe()

            Row ID   Postal Code  ...     Discount       Profit
count  9994.000000   9994.000000  ...  9994.000000  9994.000000
mean   4997.500000  55190.379428  ...     0.156203    28.656896
std    2885.163629  32063.693350  ...     0.206452   234.260108
min       1.000000   1040.000000  ...     0.000000 -6599.978000
25%    2499.250000  23223.000000  ...     0.000000     1.728750
50%    4997.500000  56430.500000  ...     0.200000     8.666500
75%    7495.750000  90008.000000  ...     0.200000    29.364000
max    9994.000000  99301.000000  ...     0.800000  8399.976000

[8 rows x 6 columns]

In [ ]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [ ]:
# print(file.loc[:,"Product Name"].value_counts()) # some things are sold only onces while some are sold 48 times
# print(len(file.loc[:,"Product Name"].unique())) # there are 1850 products
# file.isna().sum() # there do not appear any null or empty cell
test_values = ["", " ", "-", "_", "?", "U", "u", "NAn", "NA"]

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [ ]:
a = "hello world this is jawad"

In [ ]:
a.split()

['hello', 'world', 'this', 'is', 'jawad']

In [ ]:
from nltk import sent_tokenize as tokenize
tokenize(a)

['hello world this is jawad']

In [ ]:
nltk.pos_tag(a.split())

[('hello', 'JJ'),
 ('world', 'NN'),
 ('this', 'DT'),
 ('is', 'VBZ'),
 ('jawad', 'JJ')]

In [ ]:
# nltk.download('averaged_perceptron_tagger')
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
s = "Everything is all about money"
k = "it originated from the idea that thre arereaders who prefer learning new skills from the comfort of their drawing rooms"

In [ ]:
# NLTK tokenizer used
tokenize(k)

['it originated from the idea that thre arereaders who prefer learning new skills from the comfort of their drawing rooms']

In [ ]:
# using python built in funtion to tokenize
s.split()

['Everything', 'is', 'all', 'about', 'money']

In [ ]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
W = [w for w in k if w not in stop_words]

In [ ]:
# tagging without stop words
tags = nltk.pos_tag(W)